WpfMain/obj/
/.vs/WpfMain/FileContentIndex/e47c1c17-00ac-4c91-8671-74cac40bb9d8.vsidx
/.vs/WpfMain/v17/.suo
*.vsidx
/WpfMain/bin/Debug
/.vs/WpfMain/v17/DocumentLayout.json
WpfMain/bin/
Record/bin/
Record/obj/
/App
/WpfDemo/App/Debug
/WpfDemo/App/WpfDemo/App/Debug
.vs/WpfMain/v17/
Record/.vs/
/CuPrint/bin/Debug
/CuPrint/obj/Debug
/Entity/bin/Debug
/Entity/obj/Debug
/Tools/bin/Debug
/Tools/obj/Debug
/CuPrint/obj/Release
/Entity/obj/Release
/Tools/obj/Release
/Entity/.vs/Entity.csproj.dtbcache.json
/Libs/PrintTemp/~$血涂片.docx
.vs/
CameraMF/bin/
CameraMF/obj/
packages/
MigrationBackup/
WPF MediaKit/bin/
WPF MediaKit/obj/
MFDemo/
