<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <!-- 强制启用WPF硬件加速 -->
    <disableHWAcceleration enabled="true"/>
    <gcServer enabled="false"/>
    <!-- 启用服务器GC -->
    <gcConcurrent enabled="false"/>
    <!-- 并行垃圾回收 -->
  </runtime>
</configuration>