<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
    <!-- 启用服务器GC -->
    <gcConcurrent enabled="true"/>
    <!-- 并行垃圾回收 -->
  </runtime>
</configuration>